/* Center the login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}
.global{
  background-image: "url('https://s.smallpdf.com/static/cms/f/102628/600x520/9200cbdbfe/ai-summarizer-1.svg')";
}

.login-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1rem;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: gray;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: blue;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
}

.login-box button:hover {
  background: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
